:root{
    --colormain: #E31837;
    --backgroundYellow: #EFBB40;
    --fontMain: 'Nunito Sans', sans-serif;
    --fontSecond: 'Montserrat', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontMain);
    text-decoration: none;
    list-style: none;
}

body{
    padding-bottom: 1000px;
}

.container{
    padding: 0 150px;
}

.backgroundMerah{
    background-color: var(--colormain);
}

.navbar{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.141);
    z-index: 999;
}

.fixed1 {
    display: flex;
    font-weight: 800;
    color: white;
    justify-content:space-between;
    padding: 10px;
    font-size: 14px;
}


.judulkiri p{
    
}

.navbarkanan{
    color: white;
}

.navbarkanan ul li{
    display: inline-block;
    margin: 0 15px;
}

.judulkiri:hover{
    color: white;
    opacity: 50%;
    cursor: pointer;  
}

.navbarkanan ul li:hover{
    color: white;
    opacity: 50%;
    cursor: pointer;
}

.fixed2 {
    display: flex;
    justify-content:space-between;
    padding: 13px 0;
}

.fixed2bg{
    background-color: white;
}

.fixed2 a {
    font-weight: 900;
    color: black;
    margin: 15px;
    font-size: 18px;
}

.logojolibee{   
    width: 80px;
    height: 80px;
}

.logojolibee a img {
    width: 100%;
    height: 100%;
}

.menubar {
    margin: 30px 0;
}

.menubar ul li{
    display: inline-block;
    padding: 0 10px;
}

.buttonorder a {
    color: white;
}

.buttonorder a{
    background-color: var(--colormain);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 60px;

}

.menubar ul li a:hover{
    color: var(--colormain);
}

.acontent1{
    margin-top: 410px;
    display: flex;
}

.acontentbg{
    background-color: #f2f9fd;
    height: 950px;
    margin: 0;
}

.content1{
    margin-top: 400px;
    display: block;
    width: 450px;
}

.caption1 {
    

}

.p1{
    font-size: 48px;
    font-weight:900;   
    display: block;
    margin: 13px 0;
}

.p2{
    font-size: 24px;
    font-weight: 900;
    display: block;
    margin: 13px 0;
}

.caption1 h6{
    font-size: 14px;
    font-weight: 900;
    display: block; 
    margin: 17px 0;
}

.foto1 img {
    width: 100%;
    height: 100%;
}

.foto1{
    width: 540px;
    height: 540px;
    margin-top: -150px;
    margin-right: 190px;

}

.buttoncontent a {
        background-color: var(--colormain);
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 45px;
        border-radius: 60px;
        color: white;
        font-weight: 900;
}

.buttoncontent {
    margin-top: 15px;
}

.foto2 img{
    width: 100%;
    height: 100%;
}

.acontent2{
    margin: 70px 100px;
}

.foto2 {
    width: 500px;
    height: 500px;

}

.acontent2{
    display: flex;
}

.content2 {
    padding-left: 100px;
    padding-top: 8px;
}

.content2 h5{
    font-size: 18px;
    color:#222222bf;
    font-weight:900;
    margin-bottom: 10px;
}

.content2 h3{
    color:black;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 20px;
}

.content2 p{
    color: black;

}

.buttoncontent2 a{
    background-color: var(--colormain);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 60px;
    border-radius: 60px;
    color: white;
    font-weight: 900;
    margin-top: 40px;
}

.buttoncontent2 p{
    color: white;
}

.content3bg{
    background-color: var(--backgroundYellow);
    height: 600px;
    padding-top: 50px;
}

.content3 {
    justify-content: center;
    text-align: center;
    padding-top: 110px;
}

.acontent3{
}

.content3 h4{
    color:#222222bf;
    font: 16px;
    font-weight: 900;
    padding-right: 100px;
}

.content3 h1{
    color: black;
    font-size: 48px;
    font-weight: 900;
    padding-right: 100px;
}

.content3 p{
    width: 100%;
    text-align:center
    padding-left: 110px;
    margin-top: 20px;
}

.buttoncontent3 a{
    background-color: var(--colormain);
    text-align: center;
    text-transform: uppercase;
    padding: 15px 50px;
    border-radius: 60px;
    color: white;
    font-weight: 900;
}

.buttoncontent3 {
    margin-top: 40px;
    margin-left: -100px;
}

.embedvideo{
    margin-top: 80px;
    margin-left: -130px;
}


.acontent4bg{
    background-color: #f2f9fd;
    height: 700px;
    margin-top: 290px;
    padding-top: 20px;
}


.foto4 img{
    width: 100%;
    height: 100%;
}

.acontent4{
    margin: 70px 100px;
    display: flex;
    gap: 20px;
}

.foto4 {
    width: 500px;
    height: 500px;

}


.content4 {
    padding-left: 100px;
    padding-top: 8px;
}

.content4 h5{
    font-size: 16px;
    color:#222222bf;
    font-weight:900;
    margin-bottom: 10px;
    text-align: left;
}

.content4 h3{
    color:black;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 50px;
}

.content4 p{
    color: black;
    text-align:start;
    margin-left: -3px;;
}

.buttoncontent4 {
    text-align: center;
    margin-top: 50px;
}

.buttoncontent4 a{
    background-color: var(--colormain);
    border-radius: 60px;
    color: white;
    font-weight: 900;
    padding: 20px 60px;
}

.buttoncontent4{
    position: relative; 
}


.acontent5{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 100px;
}

.content5{
    width: 400px;
}


.content5 h3{
    font-size: 48px;
    font-weight: 900;
}

.content5 p{
    word-spacing: 5px;
}

.foto5 img{
    width: 100%;
    height: 100%;
}

.foto5{
    width: 40%;
}

