:root{
    --colormain: #E31837;
    --backgroundYellow: #EFBB40;
    --fontMain: 'Nunito Sans', sans-serif;
    --fontSecond: 'Montserrat', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontMain);
    text-decoration: none;
    list-style: none;
}

body{
    padding-bottom: 1000px;
}

.container{
    padding: 0 150px;
}

.backgroundMerah{
    background-color: var(--colormain);
}

.navbar{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.141);
}

.fixed1 {
    display: flex;
    font-weight: 800;
    color: white;
    justify-content:space-between;
    padding: 10px;
    font-size: 14px;
}


.judulkiri p{

}

.navbarkanan{
    color: white;
}

.navbarkanan ul li{
    display: inline-block;
    margin: 0 15px;
}

.judulkiri:hover{
  color: white;
    opacity: 50%;
    cursor: pointer;  
}

.navbarkanan ul li:hover{
    color: white;
    opacity: 50%;
    cursor: pointer;
}


.fixed2 {
    display: flex;
    justify-content:space-between;
    margin: 15px 0;
}

.fixed2 a {
    font-weight: 900;
    color: black;
    margin: 15px;
    font-size: 18px;
}

.logojolibee{   
    width: 80px;
    height: 80px;
}

.logojolibee a img {
    width: 100%;
    height: 100%;
}

.menubar {
    margin: 30px 0;
}

.menubar ul li{
    display: inline-block;
    padding: 0 10px;
}

.buttonorder a {
    color: white;
}

.buttonorder a{
    background-color: var(--colormain);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 60px;

}

.menubar ul li a:hover{
    color: var(--colormain);
}

